@model DataWrapper.Samples.ViewModelLayer.ProductViewModelBase

@if (Model.DataCollection.Count > 0) {
  <!-- ** BEGIN LIST AREA ** -->
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Number</th>
        <th>Color</th>
        <th>Size</th>
        <th>Cost</th>
        <th>Price</th>
      </tr>
    </thead>
    @foreach (var product in Model.DataCollection) {
      <tbody>
        <tr>
          <td>@product.ProductID</td>
          <td>@product.Name</td>
          <td>@product.ProductNumber</td>
          <td>@product.Color</td>
          <td>@product.Size</td>
          <td>@product.StandardCost</td>
          <td>@product.ListPrice</td>
        </tr>
      </tbody>
    }
  </table>
  <!-- ** END LIST AREA ** -->
}